body {
	margin:0;
	padding:0;
	background:#FFF;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

#header{
	width:960px;
	height:100px;
	border:3px solid red;
	margin-left:auto;
	margin-right:auto;
}

#wrapper{
	width:966px;
	margin-left:auto;
	margin-right:auto;
}

#sidebar{
	float:left;
	width:200px;
	height:500px;
	border:3px solid green;
}
#content{
	position:relative;
	margin-left:200px;
	height:500px;
	border:3px solid blue;
}

