@charset "utf-8";
/* CSS Document */



/* wrapper */

#wrapper {
	position: relative;
	width: 990px;
	margin: 0 auto;	
			 }	

/* body */

body {
	font-size: 20px;
	font-family: Arial;
     }

/* header */ 			 
			 
#header {
	border: 5px solid red; 
	width: auto;
	height: 130px;
		}	

#header nav {
	text-align: right; 
            }	

#header nav ul {
	list-style: none;
	padding-right: 20px;
	font-weight: bold;	
	            }

#header nav ul li {
	display: inline;
	margin: 0;
	padding: 0;	
		}
	
#header nav ul li a{
	display: inline-block;
	text-decoration: none;	 
	margin-top: 60px;
	margin-left: -7px;	
	padding: 5px;
	border: 1px solid green;
	}

#logo {
	background: url("Logo/schaf_logo.png") no-repeat transparent;
	float: left; 
	margin-top: 0;
	margin-left: 10px;
	height: 125px;
	width: 430px;
       }


/* navigation */

#navigation {
	border: 5px solid green; 
	width: 200px;
	min-height:600px;
	float: left;
			}			
			
			
/* content */				
			
#content  {
	border: 5px solid blue; 
	width: 750px; 
	min-height:590px;
	float: left;
	padding: 0 10px 10px 10px;
		  }
		  
		  
#content h1  {
	font-style: italic;	
			 }			 
			 
			 
/* footer */			 
			 
footer {
	border: 5px solid yellow;
	width: auto;
	height: 30px;
	clear: both;
		 }				