@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size:20px; font-family:Arial, Helvetica, sans-serif;
}

#mitte{	
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;;
	padding-right:15px;
	width:960px;
}

#header{
	width:960px;
	border:#F00 solid 2px;
	height:100px;
}

#header img{
	margin: 10px auto 3px 10px;
	float:left;
	}
	
#kapitel{
	margin-right:10px;
	
}

#header ul li{
	margin: 36px 0px 40px auto;
	list-style: none;
	float:right;
	border: 2px solid #090;
	padding-left:5px;
}

#header li{
	width:100px;
	line-height:30px;
}
	
#main{
	height:100%;
}

#navi{
	width:200px;
	border: #090 solid 2px;
	position: absolute;
	margin: auto;
	height:500px;
}

#content{
	width:756px;
	margin-left:204px;
	border:	#03C solid 2px; 
	height:500px;
}
